{% extends "UberPriceCheck/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Check Prices</legend>
            {{ form | crispy }}
            <p>Miles: <span id="demo"></span></p>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
    </form>
</div>

<script>
    var slider = document.getElementById("myDistance");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;
    
    slider.oninput = function() {
        output.innerHTML = this.value;
    }
</script> 
{% endblock content %}

{% block estimates %}
<div class="list-group">
    {% for estimate in estimates %}
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ estimate.address }}</h5>
              <small>{{ estimate.display_name}}</small>
            </div>
            <p class="mb-1">${{ estimate.estimate }}</p>
            <small>{{ estimate.distance }} miles</small>
        </a>
    {%  endfor %}
</div>
{% endblock estimates %}
