{% extends "UberPriceCheck/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Check Prices</legend>
            {{ form | crispy }}
            <p>Miles: <span id="demo"></span></p>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
    </form>
</div>

<script>
    var slider = document.getElementById("myDistance");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;
    
    slider.oninput = function() {
        output.innerHTML = this.value;
    }
</script> 
{% endblock content %}

{% block estimates %}
    {% for estimate in estimates %}
    <div class="content-section">
        <p>{{ estimate.display_name}}</p>
        <p>{{ estimate.address }}</p>
        <p>{{ estimate.distance }} miles</p>
        <p>${{ estimate.estimate }}</p>
    </div>
    {%  endfor %}
{% endblock estimates %}
