{% extends "UberPriceCheck/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Check Prices</legend>
			{{ form | crispy }}
			<p>Miles: <span id="demo"></span></p>
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Submit</button>
		</div>
	</form>
</div>
{% endblock content %}

{% block estimates %}
<div class="list-group">
	<p hidden="hidden" id="currentAddress">{{input_address}}</p>
	{% for estimate in estimates %}
		<a href="#" id="{{ estimate.address }}" onclick="setMap(this.id)" class="list-group-item list-group-item-action">
			<div class="d-flex w-100 justify-content-between">
			  <h5 class="mb-1">{{ estimate.address }}</h5>
			  <small>{{ estimate.display_name}}</small>
			</div>
			<p class="mb-1">${{ estimate.estimate }}</p>
			<small>{{ estimate.distance }} miles</small>
		</a>
	{% endfor %}
</div>
{% endblock estimates %}

{% block map %}
<div class="map">
		<iframe
		  id="mapFrame"
		  width="400"
		  height="400"
		  style="border:0"
		  loading="lazy"
		  allowfullscreen
		  referrerpolicy="no-referrer-when-downgrade"
		  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDeH51N2UWKt1xunMRHRY5JZiie1S5ZdeE
		  &origin=
		  &destination= 
		  &avoid=tolls|highways">
		</iframe>
</div>
{% endblock map %}

{% block scripts %}
<script src="{% static 'UberPriceCheck/slider.js' %}"></script>
<script src="{% static 'UberPriceCheck/setMap.js' %}"></script>
{% endblock scripts %}
